*{
    margin: 0 ;
    padding: 0;
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
.block{
  display: block!important;
}
.LZJ-status{
    width: 100%;
    height: 0.44rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
    background: rgba(122,0,0,0.2);
}
.LZJ-search{
    width: 100%;
    height: 1.41rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
    background: rgba(104,122,0,0.2);
}
.LZJ-singleDetail{
    width: 100%;
    max-width: 7.5rem;
    height: 3.07rem;
    display: flex;
    position: fixed;
    /*left:0;*/
    top:0;
    z-index: 999;
    background: #fbffff;
}
.LZJ-singleDetail>.LZJ-main{
    width: 100%;
    height: 2.71rem;
    padding: 0.51rem 0.24rem 0.46rem 0.24rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.15rem 0.43rem rgba(41,167,255,0.13);
    position: relative;
}
.LZJ-singleDetail>.LZJ-main .LZJ-Thumb{
    width: 1.74rem;
    height: 1.74rem;
    border-radius: 0.06rem;
}
.LZJ-singleDetail>.LZJ-main .LZJ-Thumb>img{
    width: 1.74rem;
    height: 1.74rem;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos{
    width: 4.98rem;
    height: 100%;
    /*padding-top: 0.08rem;*/
    box-sizing: border-box;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-title{
    width: 100%;
    height: 0.5rem;
    text-align: left;
    line-height: 0.5rem;
    font-size: 0.3rem;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-bargain{
    width: 4.9rem;
    height: 0.44rem;
    line-height: 0.44rem;
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
    /*margin-bottom: 0.22rem;*/
    display: flex;
    justify-content: space-around;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-bargain .LZJ-already{
    /*width: auto;*/
    height: 100%;
    margin-right: 0.56rem;
    display: flex;
    color:rgb(185,255,255);
    line-height: 0.22rem;
}

.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-bargain .LZJ-already .LZJ-spot{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #44b5ff;
    box-shadow: 0 0.02rem 0.02rem 0.01rem rgba(68,181,255,0.3);
    margin:auto;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-bargain .LZJ-already .LZJ-poi{
    width: auto;
    height: 100%;
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);
    line-height: 0.44rem;
    margin:0 0.12rem  0 0.08rem;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-bargain .LZJ-already span{
    width: auto;
    height: 100%;
    font-size: 0.22rem;
    line-height: 0.44rem;
    color:#36a8fe;
    font-weight: bold;
    margin-right: 0.06rem;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-service{
    width: 100%;
    height: 0.36rem;
    /*margin-bottom: 0.21rem;*/
    line-height: 0.36rem;
    display: flex;
    align-items: center;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-service img{
    width: 0.21rem;
    height: 0.21rem;
    display: block;
    margin-right: 0.08rem;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-service .LZJ-offer{
    width: auto;
    height: 0.2rem;
    font-size: 0.2rem;
    line-height: 0.2rem;
    color: #a4e0bd;
    margin-right: 0.15rem;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-service .LZJ-times{
    width: auto;
    height: 0.2rem;
    font-size: 0.2rem;
    color:rgba(49,208,148,0.6);
    line-height: 0.2rem;
}
.LZJ-singleDetail .LZJ-main .LZJ-infos .LZJ-dates{
    width: 2.04rem;
    height: 0.35rem;
    border-radius: 0.17rem;
    background: rgba(231,246,255,0.5);
    font-size: 0.2rem;
    color: #41b2fc;
    text-align: center;
    line-height: 0.35rem;
}
.LZJ-advice{
    width: 1.24rem;
    height: 0.45rem;
    background:#41b2fc;
    border-radius: 0.2rem;
    box-shadow: 0 0.05rem 0.2rem 0 rgba(68,181,255,0.43);
    position: absolute;
    bottom: 0.46rem;
    right: 0.36rem;
    font-size: 0.2rem;
    line-height: 0.45rem;
    text-align: center;
    color: white;
}
.LZJ-moreInfo{
    width: 100%;
    height: 8.42rem;
    background: rgba(0,0,0,0.2);
}
header{
    width: 100%;
    height: 0.88rem;
    display: flex;
    align-items: center;
    padding: 0 0.24rem;
    box-sizing: border-box;
    font-size: 0.38rem;
    color: rgb(78,187,254);
    position: relative;
}
header >a{
    display: block;
    height: 0.42rem ;
    width: 0.26rem;
    position: absolute;
    left: 0.24rem;
}

header > img{
    width: 100%;
    height: 100%;
}
header >p{
    margin: 0 auto;
    width:100%;
    height: 100%;
    font-size: 0.38rem;
    font-weight: bold;
    text-align: center;
    line-height: 0.88rem;
}
.wsq-searchBox{
    width: 100%;
    height: 0.6rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
    position: relative;
}
.wsq-searchBox a{
    display: block;
    width:100%;
    height:100%;
}
.wsq-searchBox  img{
    position: absolute;
    right: 0.3rem;
    top:0.12rem;
    margin:auto;
    width: 0.79rem;
    height: 0.44rem;
}

.wsq-searchBox input{
    border: solid 0.03rem rgba(55,169,254,0.1);
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    background: rgba(235,247,255,0.58);
    padding-left: 0.28rem;
    box-sizing: border-box;

}
.wsq-searchBox>input::-webkit-input-placeholder{
    color:rgb(200,217,230);
    font-size: 0.24rem;
    line-height: 100%;
}
.wsq-banner{
    width: 100%;
    max-width: 7.5rem;
    height: 1rem;
    padding:0 0.24rem;
    box-sizing: border-box;
    position: fixed;
    top:3rem;
    z-index: 999;
    background: #fbffff;
}
.wsq-banner .wsq-title{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.2rem;
}
.wsq-banner .wsq-title .wsq-cateaty{
    width: 1.5rem;
    height: 0.52rem;
    border-radius: 0.26rem;
    background: rgba(59,172,254,0.1);
    text-align: center;
    line-height: 0.52rem;
    color: rgb(59,172,254);
}
.wsq-banner .wsq-title .wsq-cateaty.hot{
    color: #ffffff;
    background: rgb(59,172,254);
}
.wsq-banner .wsq-img{
    width: 100%;
    height: 2.55rem;
    border-radius: 0.1rem;
}
.wsq-banner .wsq-img img{
    width: 100%;
    height: 100%;
}

/*is*/
.bag-scroll{
    width: 100%;
    height: auto;
    overflow: scroll;
    margin-top:4.07rem;
    /*padding-bottom: 2rem;*/
    
}
.sk-bag-scroll{
    width: 100%;
    height: auto;
  display: none;
}
.bag-item{
    width: 100%;
    padding: 0.16rem 0.24rem;
    box-sizing: border-box;
    height:2.28rem;
    display: flex;
    justify-content: space-around;
}
.bag-item .sk-bag-photo{
    width: 1.93rem;
    height: 1.97rem;
    border-radius: 0.1rem;
    /*margin-right: 0.29rem;*/
    box-shadow: 0 0.01rem 0.21rem rgba(223,223,223,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
}
.bag-item .sk-bag-photo .img{
    width: 1.93rem;
    height: 1.97rem;
}
.bag-item .sk-bag-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float:left;
    width:4.7rem;
}
.bag-item .sk-bag-content .sk-service-type h3{
    width: 4.5rem;
    font-size: 0.3rem;
    color: #4f5b64;
    font-weight: normal;
    height:0.4rem;
    line-height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bag-item .sk-bag-content .sk-service-desc{
    width: 100%;
    height: 0.62rem;
    line-height: 0.62rem;
    border-bottom: 0.01rem solid #efefef;
    box-sizing: border-box;
}
.bag-item .sk-bag-content .sk-service-desc p{
    width: 4.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.2rem;
    color: #c9cbcc;
}
.bag-item .sk-estimate_sale_price{
    height: 0.46rem;
    line-height: 0.46rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.18rem;
}
.bag-item .sk-estimate_sale_price .sk-item{
    display: flex;
    align-items: center;
}
.sk-item .dot{
    display: block;
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #41b2fc;
    box-shadow: 0 0.02rem 0.05rem rgba(68,181,255,0.4);
    margin-right: 0.07rem;
}
.sk-sale .dot{
    background: #31d094;
    box-shadow: 0 0.02rem 0.05rem rgba(54,214,129,0.4);
}
.sk-item .text{
    color: #c9cbcc;
    margin-right: 0.11rem;
}
.sk-item .number{
    color: #41b2fc;
    font-size: 0.2rem;
}
.sk-item .number span{
    color: #b9e1ff;
}
.bag-item .sk-estimate_sale_price .sk-price{
    color: #fbb548;
    font-size: 0.26rem;
}
.bag-item .sk-service-operator{
    height: 0.5rem;
    line-height: 0.5rem;
    display: flex;
    align-items: center;
}
.bag-item .sk-service-operator img{
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.08rem;
}
.bag-item .sk-service-operator span{
    font-size: 0.2rem;
}
.sk-scroll{
    width: 100%;
    height: auto;
    display: none;
}
.com-item{
    width: 100%;
    padding: 0 0.24rem;
    box-sizing: border-box;
    display: flex;
    border-bottom: 0.01rem solid rgba(216,223,227,0.3);
}
.com-item .sk-photo{
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    margin-top: 0.26rem;
    margin-right: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.01rem 0.21rem rgba(223,223,223,0.5);
}
.com-item .sk-photo img{
    width: 0.85rem;
    height: 0.85rem;
    border: 0.04rem solid #fefefe;
    box-sizing: border-box;
}
.com-item .sk-content{
    flex-grow: 1;
    padding: 0.57rem 0 0.18rem;
}
.com-item .sk-content .sk-user_time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.18rem;
}
.com-item .sk-content .sk-user_time h5{
    color: #c9cbcc;
    font-weight: normal;
}
.com-item .sk-content .sk-user_time .star{
    color: #c9cbcc;
}
.com-item .sk-content .sk-user_time .star i.hot{
    color: #41b2fc;
}
.com-item .sk-content .sk-user_time span{
    color: #41b2fc;
}
.com-item .sk-content .sk-desc{
    width: 100%;
    height: 0.4rem;
    margin-top: 0.23rem;
    font-size: 0.3rem;

}
.com-item .sk-content .sk-desc p{
    width: 5.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.com-item .sk-content .sk-pos{
    margin-top: 0.18rem;
    font-size: 0.22rem;
    color: #c9cbcc;
}
.com-item .sk-content .sk-pos span{
    margin-right: 0.04rem;
}
.com-item .sk-content .sk-com-img{
    margin-top: 0.18rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.com-item .sk-content .sk-com-img img{
    width: 1.78rem;
    height: 1.28rem;
    margin-right: 0.15rem;
}
.com-item .sk-content .sk-like{
    margin-top: 0.09rem;
    font-size: 0.24rem;
}
.com-item .sk-content .sk-like i{
    float: right;
}
.com-item .sk-content .sk-like i.icon-xiaoxi2{
    margin-left: 0.65rem;
    color: #31d094;
    /*color: linear-gradient(left,#33e171,#27d29c);*/
    text-shadow: 0 0.01rem 0.09rem rgba(55,223,116,0.7);
}
.com-item .sk-content .sk-like i.icon-xihuan{
    color: #41b2fc;
    text-shadow: 0 0.01rem 0.09rem rgba(77,198,255,0.7) ;

}
nav{
    width: 100%;
    padding: 0.42rem 0.24rem 0.11rem;
    background-color: #f8fcff;
    box-shadow: 0 0.2rem 0.43rem rgba(59,172,254,0.1);
    margin: 0 auto;
    box-sizing: border-box;
}
nav .main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
nav .main .navBox{
    width: calc(100% / 5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
nav .main .navBox.hot{
    border-bottom: 0.08rem solid #41b2fc;
}
nav .main .navBox p{
    font-size: 0.26rem;;
    color: #41b2fc;
    padding-bottom:0.2rem;
}
nav .main .navBox i{
    font-size: 0.26rem;;
    color: #41b2fc;
}
