*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    padding-bottom: 1rem;
}
.wsq-cateaty{
    /*margin: 0 0.25rem;*/
}
.wsq-banner{
    width: 100%;
    width: 100%;
    height: 2.8rem;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    /*left:0;*/
    z-index: 3;
    background: #fbffff;
}
.wsq-banner .wsq-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.2rem;
    height:0.72rem;
}
.wsq-banner .wsq-title .wsq-cateaty{
    display: inline-block;
    height: 0.52rem;
    font-size: 0.18rem;
    text-align: center;
    background: #E7F6FF;
    color: #3BACFE;
    border-radius: 0.26rem;
    line-height: 0.52rem;
    padding:0 10px;
}
.wsq-banner .wsq-title .wsq-cateaty a{
    color:inherit;
}
.wsq-banner .wsq-title .wsq-cateaty.hot{
    color: #ffffff;
    background: rgb(59,172,254);
    box-shadow: 0rem 0.05rem 0.12rem 0rem rgba(59, 172, 254, 0.43);
}
.wsq-banner .wsq-img{
    width: 100%;
    height: 2.55rem;
    border-radius: 0.1rem;
}
.wsq-banner .wsq-img img{
    width: 100%;
    height: 2.55rem;
}

.wsq-more{
    width: 100%;
    padding:2.8rem 0.24rem 0.2rem;
    box-sizing: border-box;
}
.wsq-line{
width: calc(100% - 0.48rem);
    max-width: calc(7.5rem - 0.48rem );
    height: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.32rem;
    line-height:0.8rem;
    background: #fbffff;

}
.wsq-line .wsq-lineL{
    height: 100%;
    display: flex;
    align-items: center;
 }
.wsq-line .wsq-lineR{
    height: 100%;
    font-size: 0.22rem;
    color: rgb(59,172,254);
}
.wsq-line .wsq-lineR a{
    display: block;
    height: 100%;
    font-size: 0.22rem;
    color: rgb(59,172,254);
}
.wsq-line .wsq-dot{
    width: 0.1rem;
    height: 0.05rem;
    background: rgb(52,218,135);
    border-radius: 0.02rem;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(52,218,135,0.43);
    margin-right: 0.11rem;
}
.wsq-line .wsq-text{
    height: 100%;
}
.wsq-line span:nth-child(1){
    color: rgb(79,91,100);
}
.wsq-line span:nth-child(2){
    color: rgb(52,218,135);
}
.wsq-wrapper{
    width: 100%;
    /*height: 8.8rem;*/
    overflow: hidden;
    /*padding-bottom: 1.3rem;*/
    padding-top:0.8rem;
}
.wsq-wrapper .wsq-scroller{
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
}
ul{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul>li{
    width: 3.25rem ;
    /*height: 3.82rem;*/
    margin-bottom: 0.6rem;
    position: relative;
}
ul li a{
    display: block;
    background: #fff;
}

ul li a img{
    display: block;
    margin:0 auto 0.2rem;
}
ul li .wsq-sore{
    width: 0.54rem;
    height: 0.3rem;
    background: -webkit-linear-gradient(left,rgb(55,224,111),rgb(50,214,154));
    border-radius: 0.15rem;
    position: absolute;
    top:0.02rem;
    right: 0;
    text-align: center;
    line-height: 0.3rem;
    font-size: 0.22rem;
    color: #ffffff;
    box-shadow: 0 0 0.02rem 0.01rem rgb(50,214,154);
}
.shopinfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul li .wsq-name {
    width: 2.1rem;
    height: 0.34rem;
    font-size: 0.28rem;
    line-height: 0.34rem;
    float: left;
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul>li .right{
    float: right;
}
ul>li .right{
    font-size: 0.28rem;
    color: rgb(251,181,72);
}
ul>li h6{
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.22rem;
    font-weight: normal;
    color: rgba(0,0,0,0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul>li .wsq-sale{
    height: 0.58rem;
    width: 100%;
    border-top: solid 0.02rem rgba(0,0,0,0.04);
    display: flex;
    justify-content: space-between;
}
ul>li .wsq-sale .wsq-saleLeft,.wsq-saleRight{
    display: flex;
    font-size: 0.22rem;
    line-height: 0.58rem;
    align-items: center;

}
ul>li .wsq-sale p{
    font-size: 0.22rem;
    color: rgba(0,0,0,0.3);

}
ul>li .wsq-sale span{
    font-weight: bold;
    font-size: 0.26rem;
    color: rgb(54,168,254);
    margin-left: 0.09rem;
}
ul>li .wsq-sale .wsq-dot{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: rgb(68,181,255);
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68,181,255,0.43);
    margin-right: 0.08rem;
}
ul>li .wsq-desc{
    width: 100%;
    height: 0.35rem;
    font-weight: normal;
    display: flex;
    justify-content: space-around;
    color: rgb(54,168,254);
}
ul>li .wsq-desc>div{
    padding:0 0.15rem;
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 0.2rem;
    box-sizing: border-box;
    background: rgba(59,171,255,0.1);
    border-radius: 0.17rem;
}
footer{
    width: 100%;
    max-width: 7.5rem;
    height: 1rem;
    background: #f8fcff;
    position: fixed;
    bottom: 0;
    /*left: 0;*/
    padding: 0.13rem 0.24rem 0.08rem;
    /*padding: 0 0.24rem;*/
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .sk-tabItem{
    width: 0.5rem;
    height: 0.79rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer .sk-tabItem img{
    display: block;
    height: 0.40rem;
    opacity: 0.6;
}
footer .sk-tabItem.hot img{
    opacity: 1;
}
footer .sk-tabItem h3{
    font-size: 0.22rem;
    line-height: 0.4rem;
    font-weight: normal;
}