
.current{
    width: 100%;
    height: 1.33rem;
    padding:0 0.24rem;
    box-sizing: border-box;
}
.current .min{
    width: 100%;
    height: 100%;
    border-bottom: 0.02rem solid #eef1f2;
    display: flex;
    align-items: center;
}
.current .min .icon{
    width: 0.1rem;
    height: 0.05rem;
    background: #44b5ff;
    border-radius: 0.02rem;
    box-shadow: 0 0.02rem 0.05rem rgba(68,181,255,0.43) ;
}
.current .min p{
    font-size: 0.26rem;
    color:#979899;
    margin:  0 0.19rem 0 0.15rem;
}
.current .min a{
    display: block;
    width: 0.96rem;
    height: 0.48rem;
    border-radius: 0.24rem;
    background: #e7f6ff;
    font-size: 0.26rem;
    color:#44b5ff;
    text-align: center;
    line-height: 0.48rem;
}
.list{
    width: 100%;
    min-height: calc(100% - 3.38rem);
    margin-top: 0.28rem;
    padding:0 0.24rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.list > .left{
    width: 50%;
    height: auto;
}
.list .left li.title{
    font-size: 0.28rem;
    color: #fff;
    width: 0.43rem;
    height: 0.43rem;
    text-align: center;
    line-height: 0.43rem;
    border-radius: 50%;
    background: #44b5ff;
}
.list .left li.hot{
    height: 0.8rem;
    display: flex;
    align-items: center;
}
.list .left li.hot .dian{
    width: 0.08rem;
    height: 0.08rem;
    background: #37ce9a;
    border-radius: 50%;
    margin-right: 0.13rem;
    box-shadow: 0 0.02rem 0.05rem rgba(55,206,154,0.43) ;
}
.list .left li.hot p{
    line-height: 0.8rem;
    font-size: 0.26rem;
    color:#979899;
}
.list .right{
    height: auto;
    width: 0.72rem;
}
.list .right > li{
    width: 0.72rem;
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: right;
    font-size: 0.2rem;
    color:#c1c1c1;
}
.list .right li.hot{
    color:#44b5ff ;
}
