.search {
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #f8fcff;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
}

.search .input {
  width: 100%;
  height: 0.6rem;
  position: relative;

}

.search img {
  width: 0.38rem;
  height: 0.38rem;
  position: absolute;
  top: 0.06rem;
  bottom: 0;
  margin: auto 0;
  left: 0.34rem;
}

.search input {
  width: 100%;
  height: 0.6rem;
  padding-left: 0.8rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background: rgba(235, 247, 255, 0.58);
  border: solid 0.03rem rgba(55, 169, 254, 0.1);
  float: right;
}

input::-webkit-input-placeholder {
  color: #c8d9e6;
  line-height: 0.6rem;
  font-size: 0.24rem;
}

.current {
  width: 100%;
  height: 1.5rem;
  padding-left: 0.24rem;
  padding-right: 0.24rem;
  box-sizing: border-box;
  border-bottom: 0.02rem solid #eef1f2;
}

.current .min {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.current .min .icon {
  width: 0.1rem;
  height: 0.05rem;
  background: #44b5ff;
  border-radius: 0.02rem;
  box-shadow: 0 0.02rem 0.05rem rgba(68, 181, 255, 0.43);
}

.current .min p {
  font-size: 0.26rem;
  color: #979899;
  margin: 0 0.19rem 0 0.15rem;
}

.current .min a {
  display: inline-block;
  height: 0.48rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
  background: #e7f6ff;
  font-size: 0.26rem;
  color: #44b5ff;
  text-align: center;
  /*line-height: 0.48rem;*/
}

.list {
  width: 100%;
  min-height: calc(100% - 3.38rem);
  /*margin-top: 0.28rem;*/
  padding: 0.3rem 0.24rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /*position: relative;*/
}

.list > .left {
  width: 50%;
  height: auto;
  /*margin-top: 0.5rem;*/
}

.list .left .title {
  font-size: 0.28rem;
  color: #fff;
  width: 0.43rem;
  height: 0.43rem;
  text-align: center;
  line-height: 0.43rem;
  border-radius: 50%;
  background: #44b5ff;
}

.list .left .hot {
  height: 0.8rem;
  display: flex;
  align-items: center;
}

.list .left .hot .dian {
  width: 0.08rem;
  height: 0.08rem;
  background: #37ce9a;
  border-radius: 50%;
  margin-right: 0.13rem;
  box-shadow: 0 0.02rem 0.05rem rgba(55, 206, 154, 0.43);
}

.list .left .hot p {
  line-height: 0.8rem;
  font-size: 0.26rem;
  color: #979899;
}

.list .right {
  height: 70%;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 30%;
  margin-bottom: auto;
  right: 0.3rem;
}

.list .right > li {
  /*width: 0.72rem;*/
  height: 0.35rem;
  line-height: 0.35rem;
  text-align: right;
  font-size: 0.2rem;
  color: #c1c1c1;
}

.list .right li.hot {
  color: #44b5ff;
}
