
.search {
  width: 100%;
  height: 0.78rem;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #f8fcff;
  /*align-items: center;*/
  padding: 0.07rem 0.24rem 0;
  position: fixed;
  left: 0;
  top:0;
  z-index: 99999;

}
.search div{
  width: 1.25rem;
}
.search span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.28rem;
  color: #36a8fe;
  height: 0.6rem;
  line-height: 0.6rem;
}
.search div:hover i{
  transform: rotate(180deg);
}

.search i {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.28rem;
  color: #36a8fe;
}

.search .input {
  width: 5.93rem;
  height: 0.6rem;
  position: relative;
}

.search img {
  width: 0.38rem;
  height: 0.38rem;
  position: absolute;
  top: 0.06rem;
  bottom: 0;
  margin: auto 0;
  right: 0.18rem;
}

.search input {
  width: 5.93rem;
  height: 0.6rem;
  padding-left: 0.37rem;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background: rgba(235, 247, 255, 0.58);
  border: solid 0.03rem rgba(55, 169, 254, 0.1);
  float: right;
  line-height: 0.6rem;
}

input::-webkit-input-placeholder {
  color: #c8d9e6;
  line-height: 0.6rem;
  font-size: 0.24rem;
}

.lunbo {
  width: 100%;
  height: 3.07rem;
  position: relative;
  overflow: hidden;
  margin-top: 0.78rem;
}

.lunbo .swiper-container {
  height: 100%;
}

.lunbo .swiper-container img {
  width: 100%;
}

ul.class {
  width: calc(100% - 0.8rem);
  height: auto;
  padding: 0 0.24rem 1.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

.class li {
  width: 1.92rem;
  height: 1.92rem;
  margin-top: 0.46rem;
}

.class li a {
  display: block;
  width: 100%;
  height: 100%;
}

.class li a .img {
  width: 1.13rem;
  height: 1.13rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(83, 191, 254, 0.5);
}
.class li:nth-child(1) div.img{
  background:#00aaee url("../img/l1.png") no-repeat center/cover;
}
.class li:nth-child(2) div.img{
  background:#00aaee url("../img/l2.png") no-repeat center/cover;
}
.class li:nth-child(3) div.img{
  background:#00aaee url("../img/l3.png") no-repeat center/cover;
}
.class li:nth-child(4) div.img{
  background:#00aaee url("../img/l4.png") no-repeat center/cover;
}
.class li:nth-child(5) div.img{
  background:#00aaee url("../img/l5.png") no-repeat center/cover;
}
.class li:nth-child(6) div.img{
  background:#00aaee url("../img/l6.png") no-repeat center/cover;
}
.class li:nth-child(7) div.img{
  background:#00aaee url("../img/l7.png") no-repeat center/cover;
}
.class li:nth-child(8) div.img{
  background:#00aaee url("../img/l8.png") no-repeat center/cover;
}

.class li a .img img {
  width: 100%;
  height: 100%;
}

.class li a p {
  margin-top: 0.28rem;
  font-size: 0.24rem;
  color: #646666;
  text-align: center;
}

