#Sign ul{
    width:5.5rem;
    height:auto;
    margin: 0 auto;
    margin-top: 2.03rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Sign li{
    width: 100%;
    list-style: none;
    text-align: center;
    font-size: 0.3rem;
}
#Sign .login{
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
}
#Sign .login >p{
    width: 100%;
    font-size: 0.32rem;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}
#Sign .login >.blue{
    width: 0.91rem;
    height: 0.06rem;
    background: rgba(59,172,254,0.8);
    position: absolute;
    bottom:-0.05rem;
    left: 0.8rem;
}

#Sign .one{
    height: 0.71rem;
    margin-top: 0.38rem;
    line-height: 0.71rem;
    display: flex;
    align-items: center;
    border-bottom:  0.02rem solid rgba(0,0,0,0.03);
}
#Sign .one >img{
    display: block;
    width: 0.18rem;
    height: 0.25rem;
    box-shadow:0 0 0.16rem 0.01rem #35acff;
    margin-left: 0.15rem;
}
#Sign .one >b{
    font-weight: bold;
    font-size: 0.22rem;
    color: #40b1ff;
    margin:0 0.3rem ;
}
#Sign .one >input{
    border: 0;
    outline: none;
    background: none;
    font-size: 0.22rem;
}
#Sign .two{
    height: 0.71rem;
    margin-top: 0.38rem;
    line-height: 0.71rem;
    display: flex;
    align-items: center;
    border-bottom:  0.02rem solid rgba(0,0,0,0.03);
}
#Sign .two >.dot{
    width:0.08rem;
    height: 0.08rem;
    border-radius: 50%;
    background: #3bacff ;
    box-shadow:0 0 0.16rem 0.02rem #35acff;
    margin-left: 0.15rem;
}
#Sign .two >input{
    border: 0;
    outline: none;
    background: none;
    font-size: 0.26rem;
    margin:0 0.4rem;
    width: 2.5rem;
}
#Sign .two .btn{
    width: 1.56rem;
    height: 0.46rem;
    background:linear-gradient(to right,rgb(55,224,111),rgb(50,214,154));
    font-size:0.22rem ;
    color: #FFFFFF;
    line-height: 0.46rem;
    border-radius:0.23rem ;
    box-shadow:0 0 0.2rem 0.02rem #37df74;
}
#Sign .two .btn1{
    /*width: 1.56rem;*/
    height: 0.46rem;
    background:#ccc;
    font-size:0.22rem ;
    color: #000;
    line-height: 0.46rem;
    padding:0 0.2rem;
    border-radius:0.23rem ;
    box-shadow:0 0 0.2rem 0.02rem #ccc;
}
#Sign .three{
    height: 0.71rem;
    margin-top: 0.38rem;
    line-height: 0.71rem;
    display: flex;
    align-items: center;
    border-bottom:  0.02rem solid rgba(0,0,0,0.03);
}
#Sign .three >.icon{
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("../img/Icon.png");
    background-size: 120%;
}
#Sign .three >input{
    border: 0;
    outline: none;
    background: none;
    font-size: 0.22rem;
    margin:0 0.2rem ;
}
#Sign .four{
    height: 0.71rem;
    margin-top: 0.38rem;
    line-height: 0.71rem;
    display: flex;
    align-items: center;
    border-bottom:  0.02rem solid rgba(0,0,0,0.03);
}
#Sign .four >.icon{
    width: 0.4rem;
    height: 0.4rem;
    background-image: url("../img/Icon.png");
    background-size: 120%;
}
#Sign .four >input{
    border: 0;
    outline: none;
    background: none;
    font-size: 0.22rem;
    margin:0 0.2rem ;
}

#Sign .bigbox{
    height: 0.52rem;
    width: 3.86rem;
    background:rgba(59,172,254,0.1);
    margin: 0.4rem auto;
    border-radius: 0.26rem;
    text-align: center;
    font-size: 0.26rem;
    line-height: 0.52rem;
    color: #3bacfe;
}
#Sign .txt{
    height: 0.3rem;
    width: 100%;
    color: rgba(0,0,0,0.3);
    position: relative;
}
#Sign .txt >span{
    font-size: 0.22rem;
    position: absolute;
    top:0;
    left:0.3rem;
}
#Sign .round{
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: #e7f6ff;
    position: relative;
}
#Sign .round >.small{
    width: 0.13rem;
    height: 0.13rem;
    border-radius: 50%;
    background: #7ac2fe;
    position: absolute;
    left: 25%;
    top:25%;
}
#Sign .el-form-item__content{
    width: 110%;
    margin-left: 10px!important;
}
#Sign .el-form-item__content input{
    border: none;
    outline: none;
    padding:0 7px;
    font-size: 0.26rem;
}
#Sign .el-form-item{
    margin-bottom: 0;
}


