

.bag-scroll {
  width: 100%;
  height: 11.5rem;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 1.87rem;
}

.sk-bag-scroll {
  width: 100%;
  height: auto;
}

.bag-item {
  width: 100%;
  padding: 0.24rem 0.24rem;
  box-sizing: border-box;
  display: flex;
}
.bag-item:first-child{
  padding-top: 0.5rem;
}
.bag-item .sk-bag-photo {
  width: 1.97rem;
  height: 1.97rem;
  border-radius: 0.1rem;
  margin-right: 0.29rem;
  box-shadow: 0 0.01rem 0.21rem rgba(223, 223, 223, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.bag-item .sk-bag-photo .img {
  width: 1.97rem;
  height: 1.97rem;
}

.bag-item .sk-bag-content {
  /*margin-top: 0.1rem;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
}

.bag-item .sk-bag-content .sk-service-type h3 {
  width: 4rem;
  height: 0.4rem;
  font-size: 0.3rem;
  color: #4f5b64;
  font-weight: normal;
  line-height: 0.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bag-item .sk-bag-content .sk-service-desc {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  border-bottom: 0.01rem solid #efefef;
  box-sizing: border-box;
}

.bag-item .sk-bag-content .sk-service-desc p {
  width: 4.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.2rem;
  color: #c9cbcc;

}

.bag-item .sk-estimate_sale_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.18rem;
  /*margin-top: 0.1rem;*/
}

.bag-item .sk-estimate_sale_price .sk-item {
  display: flex;
  align-items: center;
}

.sk-item .dot {
  display: block;
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  background: #41b2fc;
  box-shadow: 0 0.02rem 0.05rem rgba(68, 181, 255, 0.4);
  margin-right: 0.07rem;
}

.sk-sale .dot {
  background: #31d094;
  box-shadow: 0 0.02rem 0.05rem rgba(54, 214, 129, 0.4);
}

.sk-item .text {
  color: #c9cbcc;
  margin-right: 0.11rem;
  background: none;
}

.sk-item .number {
  color: #41b2fc;
  font-size: 0.2rem;
}

.sk-item .number span {
  color: #b9e1ff;
}

.bag-item .sk-estimate_sale_price .sk-price {
  color: #fbb548;
  font-size: 0.26rem;
  margin-top: 0.18rem;
}

.bag-item .sk-service-operator {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
}

.bag-item .sk-service-operator img {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.08rem;
  float: left;
}

.bag-item .sk-service-operator span {
  font-size: 0.2rem;
  float: left;
  margin-top: 0.06rem;
}
