*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dizhi{
    width: 100%;
    height: auto;;
    /*padding: 0.46rem 0.24rem 0.61rem;*/
    display: flex;
    justify-content: space-between;
    font-size: 0.26rem;
    color: #000000;
}
.dizhi a{
  width: 100%;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dizhi img{
    width:0.14rem;
    height: 0.24rem;
}
.cloth{
    width: 100%;
    height: 1.74rem;
    display: flex;
    margin: 0.31rem 0;
    padding: 0 0.24rem;
}
.cloth img{
    width: 1.74rem;
    height: 1.74rem;
}
.cloth .cright{
    width: 100%;
    height: 100%;
    padding-top: 0.13rem;
    display: flex;
    flex-direction: column;
}
.cloth .cright .rightone{
    width: 100%;
    height: 0.3rem;
    font-size: 0.28rem;
    color: #000000;
    line-height: 0.3rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.cloth .cright .righttwo{
    width: 100%;
    height: 0.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.13rem;
}
.cloth .cright .righttwo .yuanjiao{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0rem 0.02rem 0.05rem 0rem
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    margin-right: 0.1rem;
}
.cloth .cright .righttwo .zimu{
    line-height: 0.2rem;
    font-size: 0.26rem;
    color: #36a8fe;
}
.cloth .cright .rightthree{
    width: 100%;
    height: 0.24rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
}
.cloth .cright .rightthree .yuanjiao1{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0rem 0.02rem 0.05rem 0rem
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    margin-right: 0.1rem;
}
.cloth .cright .rightthree .fuwu{
    font-size: 0.22rem;
    color: #000000;
    line-height: 0.24rem;
}
.cloth .cright .rightfour{
    width: 100%;
    height: 0.22rem;
    display: flex;
    justify-content: space-between;
}
.cloth .cright .rightfour .yi{
    width: 1.02rem;
    height: 0.22rem;
    display: flex;
    align-items: center;
}
.cloth .cright .rightfour .yi .yuanjiao2{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0rem 0.02rem 0.05rem 0rem
    rgba(54, 214, 129, 0.43);
    border-radius: 0.03rem;
    margin-right: 0.1rem;
}
.cloth .cright .rightfour .yi .price{
    font-size: 0.26rem;
    color: #fbb548;
    line-height: 0.22rem;
}
.cloth .cright .rightfour .er{
    height:0.52rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: .1rem;
}
.cloth .cright .rightfour .er .yuanjiao3{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #36d681;
    box-shadow: 0rem 0.02rem 0.05rem 0rem
    rgba(54, 214, 129, 0.43);
    border-radius: 0.03rem;
    margin-right: 0.1rem;
}
.cloth .cright .rightfour .er img{
    width: 0.28rem;
    height: 0.18rem;
}
.line{
    width: 100%;
    height: 0.05rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
}
.line .line1{
    width: 100%;
    height: 0.05rem;
    background: #f0f5f7;
}
.aa{
    width: 100%;
    height: 1.01rem;

    display: flex;
    justify-content: space-between;
    padding: 0 0.24rem;
}
.aa .alfet{
    width: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    color: #8a8c8d;
    font-size: 0.24rem;
    line-height: 1.01rem;
}
.aa .yuanjiao11{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    border-radius: 0.03rem;
    margin-right: 0.1rem;
}
.aa .aright{
    width: 1.7rem;
    height: 100%;
    color: #000000;
    font-size: 0.22rem;
    line-height: 1.01rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aright img{
  width:0.14rem;
  height: 0.24rem;
}
.bb{
    width: 100%;
    height: 1.01rem;
    display: flex;
    padding: 0 0.24rem;
    font-size: 0.24rem;
    color:#8a8c8d;
    line-height: 1.01rem;
    align-items: center;
}
.bb .yuanjiao11{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0rem 0.02rem 0.05rem 0rem
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    margin-right: 0.1rem;
}
.bb .xuantian{
    font-size: 0.22rem;
    margin-left: 0.2rem;
}
.xuantian input{
    border:none;
    background: none;
    display: block;
    margin-top: 0.03rem;
}
.aa .god{
    width: 3.54rem;
    height: 100%;
    font-size: 0.26rem;
    color: #b9c9d2;
    line-height: 1.01rem
}
.aa .god .lanse{
    font-size: 0.3rem;
    color: #36a8fe;
    line-height: 1.01rem;
}
.root{
    width: 100%;
    height: 1.08rem;
    display: flex;
    padding: 0 0.24rem;
    background-color: #f1faff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}
.root .rleft{
    width: 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.root .rleft .yuanjiao111{
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0rem 0.02rem 0.05rem 0rem
    rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    margin-right: 0.1rem;
}
.root .rleft span{
    font-size: 0.24rem;
    color: #3bacfe;
    line-height: 1.08rem;
}
.root .rleft .jiage{
    font-size: 0.36rem;
    color: #36a8fe;
    line-height: 1.08rem;
}
.root .rright{
    width: 3.5rem;
    height: 0.6rem;
    background-color: #3bacfe;
    box-shadow: 0rem 0.05rem 0.12rem 0rem
    rgba(59, 172, 254, 0.43);
    border-radius: 0.3rem;
    margin-right: 0.12rem;
    font-size: 0.2rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.6rem;
}

 .mwq-model{
   height: 1.5rem;
   width: 100%;
   position: relative;
}
 .mwq-model .mwq-adressText{
  height: 1.62rem;
  width: 7.0rem;
  border-radius: 0.08rem;
  padding-left: 0.36rem;
  box-sizing: border-box;
  overflow: hidden;
}

 .mwq-model .mwq-adressText .mwq-info{
  height: 0.5rem;
  width: 50%;
  /*background: red;*/
  display: flex;
  /*justify-content: space-between;*/
  padding-right: 0.1rem;
  box-sizing: border-box;
  margin-top:0.38rem;

}
 .mwq-model .mwq-adressText .mwq-info .mwq-name{
  height: 100%;
  width: 1.13rem;
  font-size: 0.3rem;
  line-height: 0.5rem;
  color:#8a8c8d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 .mwq-model .mwq-adressText .mwq-info .mwq-phoneNumber{
  height: 100%;
  width: auto;
  font-size: 0.3rem;
  line-height: 0.5rem;
  color:#8a8c8d;
}
 .mwq-model .mwq-adressText .mwq-adress{
  height: auto;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.22rem;
  color: #8a8c8d;
  margin-top: 0.06rem;
}

.mwq-model  img{
   position: absolute;
   right: 0.24rem;
   top: 50%;
   transform: translateY(-50%);
}

.wb-shuliang {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.wb-shuliang li{
  font-size: 0.18rem;
  font-weight: bold;
  color: #3DADFE;
}
.wb-yuan1{
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  background: #44b5ff;
  box-shadow: 0 0.02rem 0.5rem  rgba(68,181,255,0.43);
  margin-right: 0.1rem;
}
.wb-shuliang li.guige{
  display: flex;
  align-items: center;
}
.wb-yuan2{
  width: 0.05rem;
  height: 0.05rem;
  border-radius:50%;
  background: #36d681;
  box-shadow: 0 0.02rem 0.05rem  rgba(54,214,129,0.43);
  margin-right: 0.1rem;
}
.wb-shuliang li.shuliang{
  display: flex;
  align-items: center;
}
 .wb-cate{
  width: 2.13rem;
  height: 1.08rem;
  background:rgba(231,246,255,0.5);
  border-radius: 0.1rem;
  margin-top: 0.2rem;
  text-align: center;
  line-height: 1.08rem;
}
 .wb-tianjia{
  width: 3rem;
  height: 0.52rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .wb-tianjia .wb{
  width: 1.18rem;
  height: 100%;
  background:  rgba(59,172,254,0.1);
  border-radius: 0.26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .wb-tianjia .wb-jian{
  background:  rgba(59,172,254,0.1);
}
.cloth .cright .wb-tianjia .wb-jian img {
   width: 0.18rem;
   height: 0.04rem;
}
 .wb-tianjia .wb-jia{
  background: #3bacfe;
  box-shadow: 0 0.05rem 0.12rem  rgba(59,172,254,0.43);
}
.cloth .cright .wb-tianjia .wb-jia img{
  width: 0.18rem;
  height: 0.18rem;
}

